<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/employees">Employee List</a>
          </li>
      </ul>
    </div>
</nav> -->

<nav>
    <div class="topnav">
        <a routerLink="/adminDashboard">Home</a>
        <!-- <a class="active" routerLink="orgProfile">Profile</a> -->
        <a routerLink="/employees">Employee List</a>
        <a class="navbar-brand" routerLink="/login">Logout</a>
    </div>
  </nav>



<div class=" lst col-md-6 offset-md-3">
    <h3> Create Employee </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Employee Id</label>
            <input type="text" class ="form-control" id = "Id"
                [(ngModel)] = "employee.id" name = "firstName">
        </div>

    
        <div class="form-group">
            <label>Organization Id </label>
            <input type="text" class ="form-control" id = "organizationId"
                [(ngModel)] = "employee.organizationId" name = "organizationId">
        </div>
    
        <div class="form-group">
            <label> Department Id</label>
            <input type="text" class ="form-control" id = "departmentId"
                [(ngModel)] = "employee.departmentId" name = "departmentId">
        </div>
    
        <div class="form-group">
            <label> Name</label>
            <input type="text" class ="form-control" id = "name"
                [(ngModel)] = "employee.name" name = "name">
        </div>

        <div class="form-group">
            <label> Age</label>
            <input type="text" class ="form-control" id = "age"
                [(ngModel)] = "employee.age" name = "age">
        </div>

        <div class="form-group">
            <label> Position</label>
            <input type="text" class ="form-control" id = "position"
                [(ngModel)] = "employee.position" name = "position">
        </div>
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
</div>